.invation {
    margin-top: 25px;
    border: 2px solid #CEA000;
    max-width: 850px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 25px; */
    padding-bottom: 25px;
    background-color: #a7afa6;
    box-shadow: 0px 0px 10px 10px #5c020079;
}
.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #CEA000;
    font-size: 45px;
    font-weight: bold;
}
input {
    direction: rtl;

    border: 2px solid #CEA000;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
button {
    padding-left: 10px;
    border: 2px solid #CEA000;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 2px 2px #5c020079;
    background-color: white;
    width: auto;
}
.numbeds{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 30px;
    width: 300px;
    height: 60px;
    background-color: white;
    border: 1px solid #26262648;
    box-shadow: 6px 6px 600px  rgb(0, 0, 0);

}
.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #a7afa68e;
    border-radius: 50%;
    color: black;
    font-weight: 900;
    cursor: pointer;
}