.App {
  text-align: center;
}

.Invation{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #5c02001c;
}


/* plates color: https://colorpalettes.net/color-palette-4016/ */