.footer {
  max-width: 100%;
  padding: 50px;
  background-color: #A7AFA6;
  color:#cb9e00 ;
  margin-top: 25px;
  box-shadow:inset 0px 0px 3px 3px #5c020060;
  font-size: 20px;
  font-weight: 900;
  border: 2px solid #CEA000;
}

.popupContent{
  background-color: white;
  padding: 10px;
}