.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
}
.title{
    color: #5c0100
    ;
}
.a:hover{
    border-bottom: 1px solid black;
    color: #5c0100

}
.weather{
    top: 20px;
    position: absolute;
    /* border: 1px solid black; */
    left: 200px;
    width: 300px;

}