@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.registration {
    height: 100vh;
}

.invation {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 170px;
    border: 1px solid black;
    margin: 20px auto;
}

.form {
    margin-top: 25px;
    border: 2px solid #cea000;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 25px; */
    padding-bottom: 25px;
    background-color: #a7afa6;
    box-shadow: 0px 0px 10px 10px #5c020079;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #cea000;
    font-size: 45px;
    font-weight: bold;
}

input {
    border: 2px solid #cea000;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

button {
    padding-left: 10px;
    border: 2px solid #cea000;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 2px 2px #5c020079;
    background-color: white;
    width: 60px;
    margin-left: auto;
    margin-right: auto;

}