.App {
    text-align: center;
}

.login {
    width: 600px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    padding-top: 30px;
    background-color: #344C11;
}

.home {
    display: inline-block;
    margin: 20px;
}

.links {
    display: inline-block;
    font-size: 33px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    color: white;
    background-color: #1A2902;
    margin: 10px;
}

.submit {
    width: 50px;
    height: 22px;
    border-radius: 4px;
    background-color: #AEC09A;
    color: white;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
}

.todosContainer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #778d454d;
}

.displeyTodo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 80px;
    border-radius: 6px;
    color: white;
    background-color: #778D45;
}

.taskNumber {
    background-color: #8d457577;
}

.inputName,
.inputPassword {
    padding: 20px;
    width: 200px;
    height: 15px;
    border-radius: 6px;
    background-color: #AEC09A;

}

.checkbox {
    margin-right: 0;
}

.delete {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #778D45;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    
}

.todoContainer {
    align-items: center;
    display: flex;
    
}

.select {
    display: inline-block;
    align-items: center;
    margin: 10px;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: #a37698;
    color: white;
    cursor: pointer;
    font-size: 22px;

    
}