.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;
    height: 70vh;
    gap: 20px;
}

.abaut {
    width: 30%;
    background-color: #cea1002c;
    /* border-left: 25px solid #a7afa6b0; */
    padding: 10px;
    padding-top: 60px;
}

.image {
    background-image: url(../../../public/images/home.jpg);
    /* padding-top: 800px; */
    /* background-position: -350px; */
    background-repeat: no-repeat;
    width: 80%;
}

@media (max-width: 1100px) {
    .container {
        width: 80%;
        margin: 20px auto;
        height: 70vh;
        gap: 20px;
    }

    .abaut {
        width: 30%;
        height: 70%;
        padding-top: 20px;
    }
    
    .infoRespon {
        display: none;
    }
    .image {
        background-image: url(../../../public/images/home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
    }
}