.rooms{
  width: 100%;
  height: 100vh;
}
.searchResults{
  /* display: flex; */
  /* justify-content: flex-start; */
  text-align: end;
  width: 14%;
  margin-left: 30px;
  padding: 12px;
  height: 200px;
  position: absolute;
  border: 1px solid  #5c020079;
}
.title{
  border-bottom: 1px solid #5c020079;
}