/*  */

.login{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

}
.input{
    width: 50%;
    margin: 0 auto;
}

.go{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #cea000;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.select {
    display: inline-block;
    align-items: center;
    margin: 10px;
    width: 190px;
    height: 35px;
    border-radius: 10px;
    background-color: #cea000;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 19px;
  }
  .esc{
    position: absolute;
    left: 10px;
    background-color: #cea000;
    padding: 6px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }